.About {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 13%;
    padding-right: 12%;
    padding-left: 12%;
    margin-bottom: 200px;
}

.about-text-content {
    display:flex;
    flex-direction: column;
}

.about-title {
    color: rgba(0,0,0,0.6);
    font-weight: 500;
    font-size: 35px;
    text-shadow: -1px 2px 4px rgba(255, 163, 81, 1);
}

.about-blurb {
    margin-top: 12px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
}

.about-image {
    margin-left: 50px;
    image-rendering: -moz-crisp-edges;
}

.about-image img {
    width: auto;
    height: auto;
    border-radius: 1% 1%;
}

.highlight-link {
    color:rgba(0, 0, 0, 0.7);
    font-weight: 500;
}

.highlight-link:hover {
    color:rgba(255, 163, 81, 0.8);
    text-decoration: none;
}

.italics {
    font-style: italic;
}

@media only screen and (max-width: 1450px) and (min-height: 900px) {
    .About {
        padding-top: 25%;
    }
}

@media only screen and (max-width: 900px) {
    .About {
        flex-direction: column;
        padding-top:150px;
        padding-right: 0%;
        padding-left: 0%;
    }

    .about-text-content {
        margin-top: 20px;
    }

    .about-title {
        text-align: center;
    }

    .about-image {
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 300px;
        overflow: hidden;
    }

}