.navbar {
  padding: 15px 7% !important;
  margin: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9) !important;
}

.logo {
  width: 110px;
  height: auto;
  margin-top: -7px;
}

.logo:hover {
  opacity: 0.8;
}

#logo-link {
  margin-bottom:-10px;
  padding: 0;
}

#toggle-icon {
  border-color: rgba(255, 255, 255, 0);
  padding: 0;
  border: 0;
}

.nav-link {
  text-align: right;
  font-size: medium;
}

.about-link:hover {
  border-bottom: 4px solid rgba(255, 163, 81, 0.6);
}

.about-link.active {
  border-bottom: 4px solid rgba(255, 163, 81, 0.6);
}

.experience-link:hover {
  border-bottom: 4px solid rgba(255, 163, 81, 0.6);
}

.experience-link.active {
  border-bottom: 4px solid rgba(255, 163, 81, 0.6);
}

.resume-link:hover {
  border-bottom: 4px solid rgba(255, 163, 81, 0.6);
}

/* @media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        justify-content: flex-end;
    }

    .nav-item {
        margin: 0 0 0 2rem;
        padding: 0;
    }

    .fixed-top {
        right: auto;
        left: auto;
    }

    .content {
        margin-left: auto;
        margin-right: auto;
    }
} */
